{erl_opts, [debug_info]}.
{deps, [
    {recon,         ".*", {git, "https://github.com/ferd/recon.git",                   {tag, "2.2.1"}}},
    {jsx,           ".*", {git, "https://github.com/talentdeficit/jsx.git",            {tag, "v2.6.1"}}},
    {lager,         ".*", {git, "https://github.com/basho/lager.git",                  {tag, "2.1.1"}}},
    {cowboy,        ".*", {git, "https://github.com/ninenines/cowboy.git",             {tag, "1.0.3"}}}
]}.

{relx, [{release, { my_web, "0.1.0" },
         [my_web,
          sasl,
          jsx
          ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
