% {erl_opts, [debug_info]}.
% {deps, []}.


{erl_opts, [
    % {i, "../../deps"},
    % {i, "../../_build/default/lib/gpb/include"},
    {parse_transform, lager_transform},
    debug_info,
    warn_export_all,
    warn_export_vars,
    %warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    warnings_as_errors
]}.

% {proto_opts, [
%     {compiler, gpb},
%     {src_dirs, ["proto"]}
% ]}.
%
% {gpb_opts, [
%     {module_name_suffix, "_pb"},
%     {o_erl, "src"},
%     {o_hrl, "include"},
%     {strings_as_binaries, true},
%     type_specs,
%     {verify, always}
% ]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_extra_paths, [
    "../../_build/default/lib/jsx/ebin",
    "../../_build/default/lib/lager/ebin",
    "../../_build/default/lib/cowboy/ebin",
    "ebin"
]}.
